<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Traduction</title>
    </style>
</head>
<body>
    <h1>Bienvenue sur la page de traduction</h1>
    <section>
        <img>Traducteur Français vers Espagnol</a>
        <li><a href="/api/all_translation/">es fr</a></li>

    </section>
    <section>
        <img>
        <a href="/api/french_english_translator">Traducteur Français vers Anglais</a>

    </section>
    <section>
        <a href="/admin">Section administrateur</a>

    </section>
</body>
</html>
